In [136]:
import pandas as pd
import numpy as np
from nltk.util import ngrams

# HW3:  Классификация имен
В этом домашнем задании мы рассмотрим задачу бинарной классификации. Пусть дано два списка имен:  мужские и женские имена.  Требуется разработать классификатор, который по данному имени будет определять мужское оно или женское.
### Выполнили:  

* Булгаков Дмитрий

* Тефикова Алие

### Группа ИАД-2

## 0. Loading data

In [137]:
male_names = pd.read_csv('data/male.txt', header=-1, names=['name'], encoding = 'latin1')
female_names = pd.read_csv('data/female.txt', header=-1, names=['name'], encoding = 'latin1')

In [138]:
male_names_number = len(male_names)
female_names_number = len(female_names)
print('Количество мужских имен: ', male_names_number)
print('Количество женских имен: ', female_names_number)

Количество мужских имен:  2943
Количество женских имен:  5001

## 1. Filtering data

Предварительная обработка данных:<br>
* удалите неоднозначные имена (те имена, которые являются и мужскими, и женскими одновременно), если такие есть.<br>
* создайте тестовое множество по следующему принципу: 20% от общего количества имен на каждую букву (т.е. 20% от имен на букву А, 20% имен на букву B, и.т.д.)

### 1.1 Looking for same names in both male and female df

In [139]:
print('Количество совпадающих имен: ', len(same_names))
print('Список имен, являющихся одновременно и мужскими, и женскими: (первые 10)')
same_names = female_names.merge(male_names, on=['name'], how='inner')
same_names.head(n = 10)

Количество совпадающих имен:  365
Список имен, являющихся одновременно и мужскими, и женскими: (первые 10)

     name
0   Abbey
1   Abbie
2    Abby
3   Addie
4  Adrian
5  Adrien
6    Ajay
7    Alex
8  Alexis
9   Alfie

### 1.2 And deleting duplicated names

In [140]:
remove_criterion = lambda row: row['name'] not in same_names['name'].values
male_names = male_names[male_names.apply(remove_criterion, axis=1)]
female_names = female_names[female_names.apply(remove_criterion, axis=1)]

In [148]:
print('Количество мужских имен после удаления дубликатов: ', len(male_names))
print('Количество женских имен после удаления дубликатов: ', len(female_names))
print('Все ок? ', (male_names_number - len(same_names) == len(male_names)) & 
      (female_names_number - len(same_names) == len(female_names)))

Количество мужских имен после удаления дубликатов:  2578
Количество женских имен после удаления дубликатов:  4636
Все ок?  True

### 1.3 Creating test sample (20% of dataset)

In [151]:
all_names = pd.concat([male_names, female_names], axis=0)
print('Общее количество имен: ', len(all_names))
print('Все ок? ', len(all_names) == len(male_names) + len(female_names))

Общее количество имен:  7214
Все ок?  True

In [103]:
male_names[male_names['name'].str.startswith("B")]

          name
213     Bailey
214     Bailie
215    Baillie
216      Baily
217      Baird
218    Baldwin
219   Bancroft
220   Barbabas
221    Barclay
222       Bard
223      Barde
224       Barn
225   Barnabas
226    Barnabe
227    Barnaby
228    Barnard
229   Barnebas
230    Barnett
231     Barney
232     Barnie
233      Barny
234      Baron
235       Barr
236     Barret
237    Barrett
238      Barri
240     Barris
241     Barron
243       Bart
244     Bartel
..         ...
352      Brock
353    Broddie
354     Broddy
355   Broderic
356  Broderick
357     Brodie
358      Brody
359    Bronson
363      Bruce
364      Bruno
365      Bryan
366     Bryant
367      Bryce
369      Bryon
370      Bubba
371       Buck
372      Bucky
373        Bud
374      Buddy
375    Burgess
376      Burke
377       Burl
378    Burnaby
379       Burt
380     Burton
381     Buster
382      Butch
383     Butler
384      Byram
385      Byron

[150 rows x 1 columns]