In [22]:
import pandas as pd
import numpy as np

# HW5:  Поиск закономерностей в данных (Pattern Mining).
Частые (под)последовтельности
### Выполнили:  

* Булгаков Дмитрий

* Тефикова Алие

### Группа ИАД-2

## Задание #1 Поиск частых событий

Какое событие чаще всего является первым у каждого поколения? (можно построить гистограмму)

In [23]:
data = pd.read_csv('data/socAttrAndSeqFusion(full).csv', sep=';')

In [24]:
data.head()

,gender,generation,education,place,event1,event2,event3,event4,event5,last_event
0,1,6,1.0,1.0,work separation,partner,marriage,children,NaN,children
1,1,6,2.0,1.0,work,separation,NaN,NaN,NaN,separation
2,0,0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1,3,1.0,1.0,work,separation,marriage,children,NaN,children
4,0,5,1.0,1.0,separation,work,marriage,children,partner,partner

In [7]:
generations = np.sort(data['generation'].unique())
print('Всего в рассматриваемом датасете присутствуют ' + str(len(generations)) + ' поколений.')

Всего в рассматриваемом датасете присутствуют 7 поколений.

In [8]:
for generation in generations:
    print('Самое частое первое событие для поколения #{0} - {1}'.format(generation, data[data.generation == generation]['event1'].value_counts().keys()[0]))

Самое частое первое событие для поколения #0 - work
Самое частое первое событие для поколения #1 - work
Самое частое первое событие для поколения #2 - work
Самое частое первое событие для поколения #3 - work
Самое частое первое событие для поколения #4 - work
Самое частое первое событие для поколения #5 - work
Самое частое первое событие для поколения #6 - work

Какое событие чаще всего является последним у каждого поколения? (можнопостроить гистограмму)

In [30]:
for generation in generations:
    print('Самое частое последнее событие для поколения #{0} - {1}'.format(generation, data[data.generation == generation]['last_event'].value_counts().keys()[0]))

Самое частое последнее событие для поколения #0 - work
Самое частое последнее событие для поколения #1 - children
Самое частое последнее событие для поколения #2 - children
Самое частое последнее событие для поколения #3 - children
Самое частое последнее событие для поколения #4 - children
Самое частое последнее событие для поколения #5 - children
Самое частое последнее событие для поколения #6 - children

Аналогичные вопросы для признака “пол” и комбинаций признаков “поколение”и “пол”.

In [32]:
gender_types = [0, 1]

In [33]:
for gender in gender_types:
    print('Самое частое первое событие для пола #{0} - {1}'.format(gender, data[data.gender == gender]['event1'].value_counts().keys()[0]))

Самое частое первое событие для пола #0 - work
Самое частое первое событие для пола #1 - work

In [57]:
for gender in gender_types:
    print('Самое частое последнее событие для пола #{0} - {1}'.format(gender, data[data.gender == gender]['last_event'].value_counts().keys()[0]))

Самое частое последнее событие для пола #0 - children
Самое частое последнее событие для пола #1 - children

In [67]:
for gender in gender_types:
    for generation in generations:
        print('Самое частое первое событие для пола {0} в поколении #{1} - {2}'.format(gender, generation, data[(data['gender'] == gender) & (data['generation'] == generation)]['event1'].value_counts().keys()[0]))

Самое частое первое событие для пола 0 в поколении #0 - work
Самое частое первое событие для пола 0 в поколении #1 - work
Самое частое первое событие для пола 0 в поколении #2 - work
Самое частое первое событие для пола 0 в поколении #3 - work
Самое частое первое событие для пола 0 в поколении #4 - work
Самое частое первое событие для пола 0 в поколении #5 - work
Самое частое первое событие для пола 0 в поколении #6 - work
Самое частое первое событие для пола 1 в поколении #0 - work
Самое частое первое событие для пола 1 в поколении #1 - work
Самое частое первое событие для пола 1 в поколении #2 - work
Самое частое первое событие для пола 1 в поколении #3 - work
Самое частое первое событие для пола 1 в поколении #4 - work
Самое частое первое событие для пола 1 в поколении #5 - work
Самое частое первое событие для пола 1 в поколении #6 - work

In [68]:
for gender in gender_types:
    for generation in generations:
        print('Самое частое последнее событие для пола {0} в поколении #{1} - {2}'.format(gender, generation, data[(data['gender'] == gender) & (data['generation'] == generation)]['last_event'].value_counts().keys()[0]))

Самое частое последнее событие для пола 0 в поколении #0 - work
Самое частое последнее событие для пола 0 в поколении #1 - children
Самое частое последнее событие для пола 0 в поколении #2 - children
Самое частое последнее событие для пола 0 в поколении #3 - children
Самое частое последнее событие для пола 0 в поколении #4 - children
Самое частое последнее событие для пола 0 в поколении #5 - children
Самое частое последнее событие для пола 0 в поколении #6 - children
Самое частое последнее событие для пола 1 в поколении #0 - work
Самое частое последнее событие для пола 1 в поколении #1 - children
Самое частое последнее событие для пола 1 в поколении #2 - children
Самое частое последнее событие для пола 1 в поколении #3 - children
Самое частое последнее событие для пола 1 в поколении #4 - children
Самое частое последнее событие для пола 1 в поколении #5 - children
Самое частое последнее событие для пола 1 в поколении #6 - children