In [4]:
import pandas as pd
import numpy as np

# HW5:  Поиск закономерностей в данных (Pattern Mining).
Частые (под)последовтельности
### Выполнили:  

* Булгаков Дмитрий

* Тефикова Алие

### Группа ИАД-2

In [14]:
data = pd.read_csv('data/socAttrAndSeqFusion(full).csv', sep=';')

In [17]:
data.head()

,gender,generation,education,place,event1,event2,event3,event4,event5
0,1,6,1.0,1.0,work separation,partner,marriage,children,NaN
1,1,6,2.0,1.0,work,separation,NaN,NaN,NaN
2,0,0,1.0,1.0,NaN,NaN,NaN,NaN,NaN
3,1,3,1.0,1.0,work,separation,marriage,children,NaN
4,0,5,1.0,1.0,separation,work,marriage,children,partner

In [35]:
generations = np.sort(data['generation'].unique())
print('Всего в рассматриваемом датасете присутствуют ' + str(len(generations)) + ' поколений.')

Всего в рассматриваемом датасете присутствуют 7 поколений.

In [57]:
for generation in generations:
    print('Самое частое первое событие для поколения #{0} - {1}'.format(generation, data[data.generation == generation]['event1'].value_counts().keys()[0]))

Самое частое первое событие для поколения #0 - work
Самое частое первое событие для поколения #1 - work
Самое частое первое событие для поколения #2 - work
Самое частое первое событие для поколения #3 - work
Самое частое первое событие для поколения #4 - work
Самое частое первое событие для поколения #5 - work
Самое частое первое событие для поколения #6 - work